[tool.pytest.ini_options]
pythonpath = "."
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
filterwarnings = [
    "ignore::DeprecationWarning:pytest_asyncio.plugin",
    "ignore::DeprecationWarning:asyncio"
]

[tool.ruff]
line-length = 120
target-version = "py311"

[tool.mypy]
python_version = "3.11"
explicit_package_bases = true
namespace_packages = true
ignore_missing_imports = true
